fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic[email]
passlib[bcrypt]
bcrypt
python-dotenv
python-jose[cryptography] 
python-multipart redis
python-multipart 
fastapi-mail